In [1]:
#different ways to create dataframes using python methods

In [3]:
#1 using python dictionaries
import pandas as pd
weather={
    'day':['1/1/1','2/2/2','3/3/3'],
    'temperature':[32,35,28],
    'windspeed':[6,5,8],
    'event':['rain','summer','snow']
}
df=pd.DataFrame(weather)
df

     day  temperature  windspeed   event
0  1/1/1           32          6    rain
1  2/2/2           35          5  summer
2  3/3/3           28          8    snow

In [4]:
#2 uding tuple lists
import pandas as pd
weather=[
    ('1/1/1',32,6,'rain'),
    ('2/2/2',35,5,'summer'),
    ('3/3/3',28,8,'snow')
]
df=pd.DataFrame(weather,columns=['days','temperature','windspeed',"event"])
df

    days  temperature  windspeed   event
0  1/1/1           32          6    rain
1  2/2/2           35          5  summer
2  3/3/3           28          8    snow

In [6]:
#3 using list of dictionaries
import pandas as pd
weather=[
    {'day':'1/1/1','temperatue':32,'windspeed':6,'event':'rain'},
    {'day':'2/2/2','temperatue':35,'windspeed':5,'event':'summer'},
    {'day':'3/3/3','temperatue':28,'windspeed':8,'event':'snow'}
]
df=pd.DataFrame(weather)
df

     day  temperatue  windspeed   event
0  1/1/1          32          6    rain
1  2/2/2          35          5  summer
2  3/3/3          28          8    snow