In [6]:
import pandas as pd
weather={
    'day':['1/2/12','2/2/12','3/2/12'],
    'temperature':[45,12,34],
    'windspeed':[2,4,3],
    'event':['rain','snow','summer']
}
df = pd.DataFrame(weather)
df

      day  temperature  windspeed   event
0  1/2/12           45          2    rain
1  2/2/12           12          4    snow
2  3/2/12           34          3  summer

In [7]:
df.shape

(3, 4)

In [8]:
df.head(2)

      day  temperature  windspeed event
0  1/2/12           45          2  rain
1  2/2/12           12          4  snow

In [9]:
df.tail(1)

      day  temperature  windspeed   event
2  3/2/12           34          3  summer

In [10]:
df[0:2]

      day  temperature  windspeed event
0  1/2/12           45          2  rain
1  2/2/12           12          4  snow

In [12]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [13]:
df.event

0      rain
1      snow
2    summer
Name: event, dtype: object

In [15]:
type(df['event']) #the columns in dataframe are of pandas.series type

pandas.core.series.Series

In [18]:
df[['day','event']]

      day   event
0  1/2/12    rain
1  2/2/12    snow
2  3/2/12  summer

In [22]:
df

      day  temperature  windspeed   event
0  1/2/12           45          2    rain
1  2/2/12           12          4    snow
2  3/2/12           34          3  summer

In [25]:
df['temperature'].max()

45

In [26]:
df['temperature'].min()

12

In [27]:
df['temperature'].mean()

30.333333333333332

In [28]:
df['temperature'].std()

16.802777548171413

In [30]:
df.describe()

       temperature  windspeed
count     3.000000        3.0
mean     30.333333        3.0
std      16.802778        1.0
min      12.000000        2.0
25%      23.000000        2.5
50%      34.000000        3.0
75%      39.500000        3.5
max      45.000000        4.0

In [45]:
df.set_index('day',inplace=True)

KeyError: "None of ['day'] are in the columns"

In [42]:
df

        temperature  windspeed   event
day
1/2/12           45          2    rain
2/2/12           12          4    snow
3/2/12           34          3  summer

In [46]:
df.loc['2/2/12']

temperature      12
windspeed         4
event          snow
Name: 2/2/12, dtype: object

In [47]:
df.reset_index(inplace=True)

In [48]:
df

      day  temperature  windspeed   event
0  1/2/12           45          2    rain
1  2/2/12           12          4    snow
2  3/2/12           34          3  summer